.home-tile {
    height: 75%;
    width: 70%;
    padding: 0;
}

.home-tile mat-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin: 10px auto;
    display: block;
}

.home-tile p {
    text-align: center;
    font-size: 14px;
}

.top-artist--tile {
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    width: 100%;
}

.top-artist--name {
    position: absolute;
    background: #191414;
    padding: 4px;
    margin: 4px;
    font-size: 12px;
    font-family: monospace;
    width: fit-content;
    color: #ffffff;
    bottom: 0;
    left: 0;
}

.top-artist--scrobbels {
    position: absolute;
    background: #191414;
    padding: 4px;
    margin: 4px;
    font-size: 10px;
    font-family: monospace;
    width: fit-content;
    color: #ffffff;
    top: 0;
    right: 0;
}

.mat-card-avatar {
    background-size: cover !important;
}
