<mat-card *ngIf="(currentlyPlayingTrack$ | async) as currentlyPlaying" style="margin: 8px; padding: 0px;">
    <mat-card-header>
        <div mat-card-avatar style="background-size: cover !important;" [style.background]="'url(' + currentlyPlaying.item.album.images[1].url + ')'"></div>
        <mat-card-title style="margin: 8px 0;">{{ currentlyPlaying.item.name }}</mat-card-title>
        <mat-card-subtitle style="margin: 0;">{{ currentlyPlaying.item.artists[0].name }}</mat-card-subtitle>
        <a class="currently-playing--action" mat-stroked-button target="_blank" [href]="getGeniusUrl(currentlyPlaying)">Lyrics</a>
    </mat-card-header>
</mat-card>

<mat-divider></mat-divider>

<mat-grid-list cols="2" rowHeight="50px" style="margin: 8px;">
    <mat-grid-tile *ngFor="let tile of TILES">
        <mat-card class="home-tile" (click)="tile.click && tile.click()">
            <mat-icon>{{ tile.icon }}</mat-icon>
            <p style="margin: 0;">{{ tile.description }}</p>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<h4 style="text-align: center;">Your top artists in the past 7 days</h4>
<app-loading *ngIf="loading$ | async" text="Loading your recent top artists"></app-loading>
<!-- <mat-grid-list cols="3" rowHeight="1:1" style="margin: 4px;">
    <mat-grid-tile *ngFor="let artist of (weeklyTopArtists$ | async)">
        <div class="top-artist--tile" [style.background]="'url(' + artist.img + ')'">
            <div class="top-artist--name">{{ artist.name }}</div>
            <div class="top-artist--scrobbels">{{ artist.scrobbels }} scrobbels</div>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->