<mat-accordion>
    <mat-expansion-panel class="filterPanel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
                {{ lastfmApi.currentRoute | async }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="selector--username">
            <span>last.fm user:</span>
            <input matInput [(ngModel)]="lastfmName">
        </div>

        <div class="selector--type">
            <button mat-stroked-button (click)="selectBrowseType('artists')" color="primary">Aritsts</button>
            <button mat-stroked-button (click)="selectBrowseType('albums')" color="primary">Albums</button>
            <button mat-stroked-button (click)="selectBrowseType('tracks')" color="primary">Tracks</button>
        </div>


        <app-date-selector [from]="(lastfmApi.timePeriod | async).from" [to]="(lastfmApi.timePeriod | async).to">
        </app-date-selector>
        <button matInput mat-stroked-button color="primary" class="full-width" style="margin: 12px 0;"
            (click)="searchLastfm({ type: selectedBrowseType })">Go</button>
    </mat-expansion-panel>
</mat-accordion>


<app-loading *ngIf="loading$ | async" text="Loading your top tracks..."></app-loading>
<app-lastfm-tile-list [items]="tracks$ | async" (event)="handleLastfmListEvent($event)"></app-lastfm-tile-list>
<!-- <app-lastfm-list [items]="tracks$ | async" (event)="handleLastfmListEvent($event)"></app-lastfm-list> -->