.playlist-card {
    margin: auto;
    height: 120px;
    width: 120px
}

.playlist-card--image {
    width: calc(120px + 32px);
    height: calc(120px + 32px);
}
.playlist-card--image-create, .playlist-card--image-not-available {
    width: 80px;
    height: 120px;
    padding: 0 20px;
    margin: 0;
    opacity: 0.6;
    border: 1px solid rgba(0,0,0,0.6);
}
.playlist-card--image-create:hover {
    background-color: rgba(0,0,0,0.6);
}

.playlist-name {
    position: absolute;
    top: 170px;
}