/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.half-width {
    margin: 0 4px !important;
    width: calc(50% - 8px) !important;
}

.full-width {
    margin: 0 4px !important;
    width: calc(100% - 8px) !important;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-size: 10px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}